<!DOCTYPE html>
{% load staticfiles %}
{% load rango_template_tags %}

<html>
  <head lang='en'>
    <!--<link rel="stylesheet" href="{% static "css/base.css" %}" />
    <script src="{% static "js/jquery.js" %}"></script>-->
    <meta charset="utf-8" />
    <title>Rango -
      {% block title_block %}
        How to Tango with Django!
      {% endblock %}
    </title>
  </head>

  <body>
    <div>
      {% block sidebar_block %}
        {% get_category_list category %}
      {% endblock %}
    </div>
    <div>
      <!-- page specific content goes here -->
      {% block body_block %}
      {% endblock %}
    </div>
    <hr />
    <div>
      <ul>
        {% if user.is_authenticated %}
            <li><a href="{% url 'add_category' %}">Add New Category</a></li>
            <li><a href="{% url 'auth_logout' %}?next=/rango/">Logout</a></li>
            <li><a href="{% url 'auth_password_change' %}">Change password</a></li>
        {% else %}
            <li><a href="{% url 'auth_login' %}">Sign In</a></li>
            <li><a href="{% url 'registration_register' %}">Sign Up</a></li>
        {% endif %}
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'index' %}">Index</a></li>
            <!-- removing this to put it in the category view instead <li><a href="{% url 'search' %}">Search</a></li> -->
      </ul>
    </div>
  </body>
</html>
